<h3><%= @garden.name %></h3>
<p>Location: <%= @garden.location %></p>
<p>Garden type: <%= @garden.garden_type %></p>

<br>

<%# we have current_user and @garden %>
<% if logged_in? && current_user.gardens.include?(@garden) %>

  <a href="/gardens/<%= @garden.id %>/plants/new">Add Plants!</a><br><br>





  <a href="/gardens/<%= @garden.id %>/edit">Edit this garden</a>
  <br>
  <br>
  <form class="" action="/gardens/<%= @garden.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete this garden">
  </form>
<% end %>
